.dashboard{
  position: absolute;
  background-color: #1a237e;
  overflow: auto;
  top: 50px;
  right: 0px;
  left:250px;
  bottom: 0;
}

.map-view{
  margin: 30px auto;
  height: 75%;
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px #000051;
}

.info-view{
  width: 75%;
  margin: 12px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 4px #000051;
}

