.dashboard{
  position: absolute;
  background-color: #ababab;
  overflow: auto;
  top: 50px;
  right: 0px;
  left:200px;
  bottom: 0px;
}

.map-child{
    margin: 30px auto;
    height: 88%;
    width: 90%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #ababab ;
}

.info-view{
  width: 75%;
  margin: 12px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 4px #000051;
}

