.home{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.child{
  /* margin-left: var(--sidenav-width); */
}

div::-webkit-scrollbar {
  padding: 10px;
  height: 10px;      
  width: 10px;               /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);    /* color of the scroll thumb */
}

/* html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
} */